<%- include('header') -%>

  <main class="main">
    <section class="petitions">
      <h1 class="petitions__title">Undirskriftarlisti</h1>
      <form class="petitions__form form" method="POST">
        <label class="form__label" for="name">Nafn*</label>
        <input class="form__input <%=(data.errorLocation.includes('name'))? 'form__error' : null%>" type="text" name="name" value="<%=(data.name)? data.name : ''%>" id="name" required>
        <label class="form__label" for="ssn">Kennitala*</label>
        <input  class="form__input <%=(data.errorLocation.includes('ssn'))? 'form__error' : null%>" type="text" pattern="[0-9]+([-\,][0-9]+)?" name="ssn" value="<%=(data.ssn)? data.ssn : ''%>" id="ssn" placeholder="000000-0000" required>
        <label  class="form__label"  for="comment">Athugasemd:</label>
        <textarea rows="4" class="form__input <%=(data.errorLocation.includes('comment'))? 'form__error' : null%>"  name="comment" id="comment"> <%= (data.comment) ? data.comment : ''%></textarea>

        <label class="form__combo" for="anon">
        <% if (data.anon) { %>
          <input  type="checkbox" checked name="anon" id="anon">
          <% } else { %>
            <input  type="checkbox" name="anon" id="anon">
            <% } %>
        Ekki birta nafn á lista</label>
        <% if (errorMessages) { %>
          <div class="errors">
           
            <h3><%= (errorMessages.length == 1) ? 'Villa' : 'Villur' %> við Undirskrift</h3>
            <ul>
              <% errorMessages.forEach(msg => { %>
               <li><%= msg %> </li>
              <% }) %>
            </ul>
          </div>
        <% } %>
        <button class="petitions__button" type="submit">Skrifa undir</button>
      </form>
    </section>
    <hr>
    <section class="list">
      <h2 class="list__title">Undirskriftir</h2>
      <% if (data.list.length > 0) { %>
        <%- include('table.ejs') -%> 
       
      <% } else{ %>
        <span>Engar Undirskriftir</span>
      <% } %> 
      
    </section>
    
  </main>

<%- include('footer') -%>
